body {
  background-image: url('record.png');
  background-repeat: repeat;
  margin: 0;
}

.headline {
  background-color: #003366; /* Dark blue */
  color: #e6f2ff; /* light blue */
  text-align: center;
}

.main-content {
  background-color: #d9d9d9; /* light grey */
  padding: 1em;
  font-size: 20px;
}

.questions ul{
  background-color: #99ccff;
  font-size: 30px;
  margin: 50px;
}

.questions {
  opacity: 90%;
}
